@font-face {
  font-family: BebasNeue;
  src: url("./fonts/BebasNeue\ Book.ttf") format("truetype");
}

@font-face {
  font-family: Calibri;
  src: url("./fonts/Calibri\ Regular.ttf") format("truetype");
}

h1,
h2,
h3 {
  font-family: BebasNeue;
}

h3 {
  padding-top: 2rem;
}

a:not(:hover) {
  color: inherit !important;
  text-decoration: inherit !important;
}

@media print {
  * {
    font-family: Calibri;
  }

  .col-md-3 {
    width: 25% !important;
  }

  .no-print {
    display: none;
  }

  .col-auto-print {
    flex: 0 0 auto !important;
    width: auto !important;
  }

  .pt-md-3 {
    padding-top: 1rem;
  }

}

@media screen {
  .container-lg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .pdf-icon {
    width: 50px;
  }

  .print-only {
    display: none;
  }
}

.left-col {
  background-color: #f2f2f2;
  min-width: 237px;
}

.left-col h3 {
  color: blue;
}

.contacts img {
  width: 1rem;
}

.contacts tr {
  height: 30px;
  vertical-align: middle;
}

td:not(:first-child) {
  padding-left: 0.5rem;
}

.h-underline {
  border-bottom: 1px solid palevioletred;
}

.right-col .row {
  margin-top: 0.5rem;
}

.years-col {
  max-width: 120px !important;
}

.experience-sub li {
  margin-top: 0.5em;
}
